module.exports = {
  BTC: {
    protocol: 'http',
    host: 'localhost',
    port: 3334,
    user: 'user',
    pass: 'pass'
  },

  SAPP: {
    protocol: 'http',
    host: 'localhost',
    port: 18977,
    user: 'user',
    pass: 'pass'
  }
}
